<div class="row justify-content-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Commenter</th>
                <th scope="col">Comment</th>
                <th scope="col" colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= comment.commenter %>
                </td>
                <td>
                    <%= comment.body %>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>